.CardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(237, 235, 252);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    font-size: 24px;
    font-weight: bold;
    color: #333;

}
.loadingImage {
    width: 100px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-right: 10px; /* Espacio entre la imagen y el texto */
}