body {
    background-color: #222; /* Color de fondo principal oscuro */
  }
  
  .row {
    background-color: #333; /* Color de fondo oscuro para la fila principal */
  }
  
  .text-white {
    color: #fff !important; /* Color de texto blanco */
  }
  
  .h3, .h5 {
    color: #a2977a; /* Color de texto de los títulos */
  }
  
  /* Estilos para los acordeones */
  .accordion-item {
    background-color: #444; /* Fondo oscuro para los acordeones */
    border: 1px solid #333; /* Borde oscuro para los acordeones */
  }
  
  .accordion-button {
    background-color: #555; /* Color de fondo para los botones de acordeón */
  }
  
  /* Estilos para los enlaces */
  a {
    color: #007bff; /* Color del enlace */
  }
  
  a:hover {
    color: #0056b3; /* Color del enlace al pasar el ratón por encima */
  }